 <div class = "container">
	<div class="wrapper">
	<div class="form-signin"> 
	 <h3 class="form-signin-heading">アカウント編集</h3>

      <% if @error_message%>
        <p class="errors"><%= @error_message %></p>
      <% end %>
		<%= form_for @users,url: user_path do |f| %>
		 <%= f.hidden_field :monthly_budget, :value => 0%>
     <%= f.hidden_field :monthly_savings, :value => 0%>
      名前 <span class="label label-danger",>必須項目</span>
		   <%= f.text_field :name ,class:"form-control",placeholder:"名前を入力"%><br/>
		   メールアドレス <span class="label label-danger",>必須項目</span>
	  <%= f.text_field :email,class:"form-control",placeholder:"メールアドレス" %><br/>
	     
	  月の収入 <span class="label label-primary",>任意項目</span>
	   <%= f.number_field :monthly_budget,class:"form-control" %><br>
	     月の貯金目標 <span class="label label-primary",>任意項目</span>
	   <%= f.number_field :monthly_savings,class:"form-control" %><br><br>
	 サムネイル <span class="label label-primary",>任意項目</span>
    <%= f.file_field :thumbnail,class:"form-control",placeholder:"サムネイル画像"%><br/>
    背景画像 <span class="label label-primary",>任意項目</span>
    <%= f.file_field :background,class:"form-control",placeholder:"背景画像"%><br/>
	 

              </div>
	 
	 
         <%= f.submit "保存",class:"btn btn-primary form-control" %><br/>
		   <%end%>
			   </div>
      </div>
    </div>
  


         
            
          
          
             
  
   
        <%= link_to "退会",user_path(@users.id), method: :delete, data: {confirm: "本当に退会しますか？",class:"button"} %>

