
   <div class = "container text-center">
     	<div class="wrapper">
      <p>こちらをご利用ください</p>
      <p>email:sample@yahoo.com</p>
      <p>password:11111111</p>
      </div>
    </div>
    
      <div class = "container">
	<div class="wrapper">
	<div class="form-signin"> 
	 <h3 class="form-signin-heading">ログイン</h3>

      <% if @error_message%>
        <p class="errors"><%= @error_message %></p>
      <% end %>
		 <%= form_for :session, url: login_path do |f| %>
		  <%= f.text_field :email,class:"form-control",placeholder:"メールアドレス" %><br />
		   <%= f.password_field :password,class:"form-control",placeholder:"パスワード" %><br/>
		   
        <%= f.submit "ログイン",class:"btn btn-lg btn-primary btn-block" %><br/>
		   <%end%>
			   </div>

      </div>
    </div>
  