<br><div class="container">
   <div class="row">
     <div class="col-md-6 border panel panel-default">
        
  <h2><%=@users.name%>さんのメインページ</h2>
  <%=image_tag @users.thumbnail.url if @users.thumbnail? %>
   <%=link_to "記帳",new_output_path,class:"btn btn-warning"%>
    </div>
     <div class="col-md-6 panel panel-default">
       <h2 class="label label-info"><%=Date.today.strftime("%-m月")%>の貯金目標</h3>
      <h3><%=@users.monthly_savings==0?"目標貯金額を入力してください":
      "#{@users.monthly_savings.to_s(:delimited)}" %></h3>      
       <h2 class="label label-info">今月の使える額</h2>
      <h3><%=@users.monthly_budget==0?"月収入を入力してください":
      "#{(@users.monthly_budget-@users.outputs_month_with.sum[1]-@users.monthly_savings)
      .to_s(:delimited)}"%></h2>  
      
     <%  today = Date.today%>
  <% last_day = Date.new(today.year, today.month, -1)%>

        <h3 class="label label-info">今日の使える額</h3>
       <h3><%=@users.monthly_budget==0?"月収入を入力してください":
       (last_day-today).to_i>=1?
       "#{((@users.monthly_budget-@users.outputs_month_with.sum[1]-@users.monthly_savings)/(last_day-today)
       .to_i).to_s(:delimited)}":
       (@users.monthly_budget-@users.outputs_month_with.sum[1]-@users.monthly_savings).to_s(:delimited)%>
       </h3>
      </div>
  </div>

    
    <div class="row">
        <div class="col-md-6">
           
                <div class=" panel panel-default">
                   <h2><%= Date.today.strftime("%-m月")%></h2>
                   <ul class="list-group">
                     <li class="list-group-item">
                      <span class="badge"><%= @users.outputs_day.count%></span>
                       今日の記帳数
                     </li>
                      <li class="list-group-item">
                        <span class="badge"><%= @users.outputs_month.count%></span>
                       今月の記帳数
                     </li>
                      <li class="list-group-item">
                        <span class="badge"><%= @users.outputs_day_with.sum[1]%></span>
                       今日の出費
                     </li>
                     <li class="list-group-item">
                        <span class="badge"><%= @users.outputs_month_with.sum[1]%></span>
                       今月の出費
                     </li>
                     
                                        
                    </ul>
                </div> </div>
               <div class="col-md-6">
                 <div class=" panel panel-default">
                   <h2>獲得バッジ</h2>
                       <%a = 0%>
                  <%for i in @users.budges.map(&:budge_name).flatten do%>
                  <% if a==0%>
                <span data-toggle="tooltip" data-placement="bottom" title="初記帳">
                  <%= image_tag("#{@users.budges.map(&:budge_name)
                  .flatten[a]}.png",class: "budge_img") %>
                  </span>
                   <% else%>
                <span data-toggle="tooltip" data-placement="bottom" title="初めてメモを使った方に送られます">
                  <%= image_tag("#{@users.budges.map(&:budge_name)
                  .flatten[a]}.png",class: "budge_img") %>
                  </span>
                  <%end%>
                   <%a =a+1%>
                  
                  <%end%>
                  </div>  
                   </div>                      
 </div>                 <div class="row">
                <div class="col-md-6">
                     <div class=" panel panel-default"><i class="fa fa-home"></i><i class="fa fa-home"></i>
                        <h3>今月の費目別支出額</h3><i class="fa fa-home"></i>
                     <%= @users.outputs_day_category unless @users.outputs_day_category.blank?%>
                         </div>
                </div>
                <div class="col-md-6"></div>
            
        </div>
        
        <div class="col-lg-4"></div>
    
</div>
 
 