<br><div class="container">
 <div class="row">
  <%if @users.total_asets==0 ||  @users.monthly_budget==0 ||  @users.monthly_savings==0 %>
  <div class="alert alert-danger">
   <%=link_to("基本設定を登録して見ましょう","/users/#{@users.id}/profile_new")%>
  </div>
  <%end%>
   <div class="row">
     <div class="col-md-8">
  <div class=" panel panel-default">
  
  <div class=" background-image img-responsive center-block"style="background-image:
  url(<%=@users.background.url  unless @users.background.url.nil?%>)">
   <%=image_tag(@users.thumbnail.url,class: "img-thumbnail ")unless @users.thumbnail.url.nil?%>
    </div>
     </div>
 </div>
 <div class="col-md-4">
           
                <div class=" panel ">
                   <h2 class="month text-center bg-success"><i class="fa fa-calendar fa-fw"></i><%= Date.today.strftime("%-m月%-d日の状況")%></h2>
                   <ul class="list-group">
                     <li class="list-group-item">
                     
                       <h3>今日の記帳数   <div class=" number pull-right text-success "><%= @users.outputs_day.count%>回</div></h3>
                     </li>
                      <li class="list-group-item">
                         
                       <h3>今月の記帳数 <div class=" number pull-right text-success"><%= @users.outputs_month.count%>回</div></h3>
                     </li>
                      <li class="list-group-item">
                       
                       <h3>今日の支出 <div class=" number pull-right text-danger ">¥<%= @users.outputs_day_with.sum[1].to_s(:delimited)%></div></h3>
                     </li>
                     <li class="list-group-item">
                        <h3>今月の支出<div class=" number pull-right text-danger ">¥<%= @users.outputs_month_with.sum[1].to_s(:delimited)%></div></h3>
                      
                     </li>
                     
                                        
                    </ul>
                </div> 
                <div class=" panel ">
      
         <h2 class="month text-center bg-warning"><i class="fa fa-calendar fa-fw"></i><%= Date.today.strftime("%-m月の状況")%></h2>
          <ul class="list-group">
           <li class="list-group-item">
       <h3><%=Date.today.strftime("%-m月")%>の貯金目標
       <div class="text-primary number pull-right">
       <%=@users.monthly_savings==0?"目標を入力しましょう":     
      "¥#{@users.monthly_savings.to_s(:delimited)}" %></div></h3> 
      </li>
      <li class="list-group-item">
       <h3><%=Date.today.strftime("%-m月")%>の使える額
       <div class="text-primary number pull-right">
       <%=@users.monthly_budget==0?"収入を入力しましょう":
      "¥#{(@users.monthly_budget-@users.outputs_month_with.sum[1]-@users.monthly_savings)
      .to_s(:delimited)}"%></div></h3>
      </li>
     <%  today = Date.today%>
  <% last_day = Date.new(today.year, today.month, -1)%>
 <li class="list-group-item">
        <h3>今日の使える額
        <div class="text-primary number pull-right">
       <%=@users.monthly_budget==0?"収入を入力しましょう":
       (last_day-today).to_i>=1?
       "¥#{((@users.monthly_budget-@users.outputs_month_with.sum[1]-@users.monthly_savings)/(last_day-today)
       .to_i).to_s(:delimited)}":
       (@users.monthly_budget-@users.outputs_month_with.sum[1]-@users.monthly_savings).to_s(:delimited)%>
       </div></h3>
       </li>
       </ul>
      </div>
      </div>
      </div>
                   </div>                      
 </div>
 <div class="row">
  <div class="col-lg-4">
    <div class=" panel panel-default">
   <h2 class="total_asets text-center bg-info " ><i class="fas fa-yen-sign"> 総資産</i></h2>
   
            <p class="asets text-center ">¥<%= (@users.total_asets-@with_all_sum[2].to_i-@depo_all_sum[2].to_i).to_s(:delimited)%></p>
    </div>
   </div>
               <div class="col-md-4">
               
                     <div class=" panel panel-default">
                    
                      
                        <h2 class="month bg-success text-center"><i class="fas fa-yen-sign">今月の費目別支出額</i></h2>
                         <table class=" table table-borderd table-hover">
                        <tr><th>費目</th><th>支出</th><tr>
                         <tr>
                        <%@users.outputs_day_category.to_a.each do|cat| %>
                        <td><%=cat[0]%></td><td class="text-danger"><%=cat[1].to_s(:delimited)%></td>
                         </tr>
                        <%end%>
                     
                      
                         </table>
                </div>
                <div class="col-md-6"></div>
            
        </div> </div>
        
        <div class="col-lg-4"></div>
    
    <div class="col-md-6">
                 <div class=" panel panel-default">
                  <table class="table table-borderd table-striped">
                   <tr><th>獲得バッジ</th></tr>
                  
                       <%a = 0%>
                  <%for i in @users.budges.map(&:budge_name).flatten do%>
                  <% if a==0%><tr><td>
                <span data-toggle="tooltip" data-placement="bottom" title="初めての記帳に対して贈られます">
                  <%= image_tag("#{@users.budges.map(&:budge_name)
                  .flatten[a]}.png",class: "budge_img") %>
                  </span>
                   <% else%>
                <span data-toggle="tooltip" data-placement="bottom" title="初めてメモを使った方に送られます">
                  <%= image_tag("#{@users.budges.map(&:budge_name)
                  .flatten[a]}.png",class: "budge_img") %>
                  </span>
                  </td></tr>
                  <%end%>
                   <%a =a+1%>
                  
                  <%end%>
                  </table>
                  </div>  
    
</div>
 
 