<div class="container">
     <div class="wrapper">
	<div class="form-signin"> 
	 <h3 class="form-signin-heading">収入</h3>

    
 <div class="form-group">

<%= form_for @outputs, url: "/outputs",class:"form-horizontal" do|f|%>
<% if @error_message%>
        <p class="errors"><%= @error_message %></p>
      <% end %>
      
      収入日<span class="label label-danger",>必須項目</span>
  <%= f.date_field :date, value: Time.now.strftime("%Y-%m-%d"),class:"form-control" %><br/>
  
 収入額<span class="label label-danger",>必須項目</span>
  <%= f.number_field :deposit,class:"form-control" %><br/>
	メモ<span class="label label-primary",>任意項目</span>	   
<%= f.text_field :memo,class:"form-control" %><br/><br/>
        
         <%= f.submit "記帳",class:"btn btn-primary form-control" %><br/>
		    <% end %>
			 
          </div>
          </div>
        