
<div class="center-block">
  
  </div>
<div class="center-block">
  <%=@users.name+"さん"%><br>
  <%="月の予算#{@users.monthly_budget}円"%>
  <% @outputs.each do |output| %>
  <%=output.shop_name%>
  <%=output.withdrawal%>
  <%=output.date%>
  <%=output.category%>
  <br>
  <%end%>
  </div>
  <%= paginate @outputs %>