
  
   <div class="tabs">
              <input id="all" type="radio" name="tab_item" checked>
              <label class="tab_item" for="all">
              <p class="itext">     <i class="far fa-comment"></i> つぶやき </p></label>
              <input id="programming" type="radio" name="tab_item">
              <label class="tab_item" for="programming">
              <p class="itext">     <i class="fas fa-users"></i> フォロー </p></label>
              <input id="design" type="radio" name="tab_item">
              <label class="tab_item" for="design">
               <p class="itext">     <i class="fas fa-users"></i> フォロワー </p></label>
              <div class="tab_content" id="all_content">
                <div class="tab_content_description">
                  <p class="c-txtsp"><%=render"outputs/outputwith"%><%=render"outputs/outputdepo"%></p>
                </div>
              </div>
                <div class="tab_content" id="programming_content">
                  <div class="tab_content_description">
                    <p class="c-txtsp"><%=render"outputs/outputwith"%><%=render"outputs/outputwith"%></p>
                  </div>
                </div>  
              <div class="tab_content" id="design_content">
                <div class="tab_content_description">
                  <p class="c-txtsp"> <%=render"outputs/outputwith"%></p>
                </div>
              </div>
      </div> 